.card{
    display: flex;
    justify-content: center;
    background-color: white;
    margin:0 auto;
    padding: 20px;
    background-color: white;
    width: 45rem;
    border-radius: 5px;
    margin-bottom: 20px;
}

.item{
    margin: 20px;
}

.card-body{
    margin: 20px;
}

h1{
    font-family: fantasy;
    text-align: center;
    font-size: 5em;
    color: white;
}

