.criteria {
    border: 1px #000000 solid;
    border-radius: 5px;
}

div {
    padding: 5px;
    width: 70%;
    display: flex;
    align-items: center;
}

input {
    height: 25px;
    border: 1px #000000 solid;
    border-radius: 5px;
    margin: 5px;
    justify-content: flex-start;
}

.dietTitle {
    justify-content: center;
}

.sendIt {
    display: flex;
    justify-content: center;
}

button {
    margin: 5px;
    padding: 5px;
    height: 30px;
    width: 70px;
    border-radius: 5px;
}

.card, .card-body {
    display: flex;
    flex-wrap: wrap;
}

.card {
    border: 1px #000000 solid;
    border-radius: 5px;
    flex-direction: column;
    max-width: 33%;
}