
<div>
      <form class="criteria">
          <div class="keyword">
              <h4>Search Keyword</h4>
              <input [(ngModel)]="userInput" name="userInput" type="text" placeholder="Find a recipe">
          </div>
          <div class="cals">
              <h4>Calories</h4>
              <input type="number" [(ngModel)]="calories" name="calories" min="1" max="2000">
          </div>
          <div class="dietTitle">
              <h4>Dietary Restrictions</h4>
          </div>
          <div class="restrictions">
             
              <input type="checkbox" [(ngModel)]="vegetarian" name="vegetarian" value="VG">Vegetarian<br>
              <input type="checkbox" [(ngModel)]="vegan" name="vegan" value="VN">Vegan<br>
        
          </div>


          <div class="sendIt">
              <button (click)= "onSubmit(userInput, calories,vegetarian,vegan)" type="button">Search</button>
          </div>
      </form>
      

</div>
<div class="card" *ngFor="let recipe of recipes">
            <img src="{{ recipe.recipe.image}}">
            <div class="card-body">
                <p> Original link:{{recipe.recipe.url }}</p>
                <p> Ingredients: {{ recipe.recipe.ingredientLines }}</p>
                <p> Calories: {{ recipe.recipe.calories }} </p>
                <p>{{recipe.healthLabels}}</p>
                <a href="{{ recipe.recipe.url }}" class="btn">See Original Post</a>
            </div>
        </div>



   
