.criteria {
    border: 1px #000000 solid;
    border-radius: 5px;
    flex: 1;
   
}

h4{
    width: 12em;
}
div {
    padding: 5px;
    width: 60%;
    display: flex;
    align-items: center;
    margin: 0 auto;
    
}

input {
    height: 25px;
    border: 1px #000000 solid;
    border-radius: 5px;
    justify-content: flex-start;
    text-align: center;
    width: 35em;
    height: 2em;
    margin-left: 8px;

}

.dietTitle {
    justify-content: center;
}

.sendIt {
    display: flex;
    justify-content: center;
    width: 10em;
    
    
}

button {
  font-family: fantasy;
    font-size: 15px;
    width: 20em;
    height: 30px;
    width: 70px;
    border-radius: 5px;
    background-color: lightgreen;
}

.card, .card-body {
    display: flex;
    flex-wrap: wrap;
}

.card {
    border: 1px #000000 solid;
    border-radius: 5px;
    flex-direction: column;
    max-width: 33%;
 
}

form{
    background-color: white;
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    justify-content: center;
    width: 30em;
    border: 4px solid black;
    font-family: cursive;
    font-size: 24px;
    text-align: center;
    opacity: 95%;
}

.cals{
    justify-content: center;
}

#calories{
    width: 5em;
  
    margin: 20px;
}

.restrictions{
    justify-content: space-between;
    width: 23rem;
}

div button{
    width:20em;
}

