.fa-heart{
    color: black;
}

.heart{
    color: red;
}

#details{
    font-size: 15px;
    margin-left: 20px;
    height: 30px;
    border-radius: 5px;
    width: 100px;
}

#title{
    font-size: 20px;
    margin-bottom: 15px;
}

.card{
    display: flex;
    justify-content: center;
    background-color: white;
    margin:0 auto;
    padding: 20px;
    background-color: white;
    width: 45rem;
    border-radius: 5px;
    margin-bottom: 20px;
}

.item{
    margin: 20px;
}

.card-body{
    margin: 20px;
}

