<div class="card" >
    <img src="{{ recipe.recipe.image}}">
    <div class="card-body">
        <p>{{recipe.recipe.label}}</p>
        <i [ngClass]="{'heart': toggle}" (click)= "clicked()" class=" heart fas fa-heart" (click)="addFavorite(recipe)"></i>
        <button (click)= 'showDetails()'>More Details</button>
    </div>
    <div class= 'details' *ngIf="show">
        <p> Ingredients: {{ recipe.recipe.ingredientLines }}</p>
        <p> Calories: {{ recipe.recipe.calories | number: '1.0-0'}} </p>
        <p>{{recipe.healthLabels}}</p>
        <a href="{{ recipe.recipe.url }}" class="btn btn-primary">See Original Post</a>
        <button (click)= 'closeDetails()'> Close</button>
    </div>
</div>
